<div>
    <h2 id="page-heading">
        <span>Images</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-image" [routerLink]="['/image/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Image
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="images?.length === 0">
        <span>No images found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="images && images.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Name</span></th>
                    <th scope="col" ><span>Created</span></th>
                    <th scope="col" ><span>Img</span></th>
                    <th scope="col" ><span>Description</span></th>
                    <th scope="col" ><span>Url</span></th>
                    <th scope="col" ><span>Advertisment</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let image of images ;trackBy: trackId">
                    <td><a [routerLink]="['/image', image.id, 'view']">{{ image.id }}</a></td>
                    <td>{{ image.name }}</td>
                    <td>{{ image.created | date:'mediumDate' }}</td>
                    <td>
                        <a *ngIf="image.img" (click)="openFile(image.imgContentType, image.img)">
                            <img [src]="'data:' + image.imgContentType + ';base64,' + image.img" style="max-height: 30px;" alt="image image"/>
                        </a>
                        <span *ngIf="image.img">{{ image.imgContentType }}, {{ byteSize(image.img) }}</span>
                    </td>
                    <td>{{ image.description }}</td>
                    <td>{{ image.url }}</td>
                    <td>
                        <div *ngIf="image.advertisment">
                            <a [routerLink]="['/advertisment', image.advertisment?.id, 'view']" >{{ image.advertisment?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/image', image.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/image', image.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(image)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
